<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritinchildapplications="false">
    <system.webserver>
      <rewrite>
        <rules>
          <rule name="spa" stopprocessing="true">
            <match url=".*" />
            <conditions logicalgrouping="matchall">
              <add input="{request_filename}" matchtype="isfile" negate="true" />
              <add input="{request_filename}" matchtype="isdirectory" negate="true" />
            </conditions>
            <action type="rewrite" url="/" />
          </rule>
        </rules>
      </rewrite>
    </system.webserver>
  </location>
</configuration>