body{
    background-color: #121212 !important;
    color: #CCCCCC;
}

.dark-form{
    background-color: #1E1E1E;
}

.input-field {
    background-color: #222222;
    color: #CCCCCC;
}

.btn-dark {
    background-color: #121212;
    color: #CCCCCC;
    border: 0 solid #000000;
}

.submit-button-green {
    background-color: #4CAF50;
    color: #FFFFFF;
}

.table-dark-song th,
.table-dark-song td {
    background-color: #121212 !important;
    color: #CCCCCC !important;
}

.border{
    color: #CCCCCC !important;
}

.card-dark{
    background-color: #121212 !important;
    color: #CCCCCC;
}

.bg-dark-grey{
   background-color:  #121211;
}

.dark{
    background-color: #121212;
}

.nav-dark{
    border-bottom: 4px solid #CCCCCC;
}

.select-field {
    background-color: #222222;
    color: #CCCCCC;
}

.border-home{
    border-bottom: #CCCCCC 4px solid;
    border-top: #CCCCCC 4px solid;
}

.mid-back-color{
    background-color: #171717
}